@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@rendermode InteractiveServer
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<div class="chat-container">
    @if (string.IsNullOrEmpty(_userName))
    {
        <div class="form-group message-form">
            <input placeholder="Your name" @bind="_userInput" size="50" class="message-input" />
            <button @onclick="SetUserName" class="send-button">Join</button>
        </div>
    }
    else
    {
        <div class="chat-room">
            <div class="users-list">
                <h4>Active Users</h4>
                <ul>
                    @foreach (var user in _users)
                    {
                        <li>@user</li>
                    }
                </ul>
            </div>
            <div class="messages-container">
                <ul class="messages-list">
                    @foreach (var message in _messages)
                    {
                        <li class="@GetMessageClass(message)">@message</li>
                    }
                </ul>

                <hr/>

                <div class="form-group message-form">
                    <input placeholder="Type your message" @bind="_messageInput" size="50" class="message-input" />
                    <button @onclick="Send" disabled="@(!IsConnected)" class="send-button">Send</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private HubConnection? _hubConnection;
    private readonly List<string> _messages = new List<string>();
    private List<string> _users = new List<string>();
    private string? _userInput;
    private string? _messageInput;
    private string? _userName;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        _hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<string>("UserJoined", (user) =>
        {
            var joinMessage = $"{user} has joined the chat.";
            _messages.Add(joinMessage);
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<string>("UserLeft", (user) =>
        {
            var leaveMessage = $"{user} has left the chat.";
            _messages.Add(leaveMessage);
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<List<string>>("UpdateUserList", (users) =>
        {
            _users = users;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
        StateHasChanged();
    }

    private async Task SetUserName()
    {
        if (!string.IsNullOrEmpty(_userInput) && _hubConnection != null)
        {
            _userName = _userInput;
            await _hubConnection.SendAsync("JoinChat", _userName);
            StateHasChanged();
        }
    }

    private async Task Send()
    {
        if (!string.IsNullOrEmpty(_messageInput))
        {
            if (_hubConnection is not null)
            {
                await _hubConnection.SendAsync("SendMessage", _userName, _messageInput);
                _messageInput = string.Empty;
            }
        }
    }

    public bool IsConnected =>
            _hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null && !string.IsNullOrEmpty(_userName))
        {
            await _hubConnection.SendAsync("UserLeft", _userName);
            await _hubConnection.DisposeAsync();
        }
    }

    private string GetMessageClass(string message)
    {
        if (message.Contains("has joined the chat") || message.Contains("has left the chat"))
        {
            return "user-status";
        }
        else if (message.StartsWith($"{_userName}:"))
        {
            return "my-message";
        }
        else
        {
            return "other-message";
        }
    }
}

<style>
    .chat-container {
        margin: auto;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .message-form {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .message-input {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    .send-button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .send-button:disabled {
        background-color: #aaa;
        cursor: not-allowed;
    }

    .messages-list {
        list-style-type: none;
        padding: 0;
    }

    .messages-list li {
        padding: 5px 10px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .user-status {
        background-color: #d4edda;
        color: #155724;
    }

    .my-message {
        background-color: #cce5ff;
        color: #004085;
        text-align: right;
    }

    .other-message {
        background-color: #f1f1f1;
        color: #333;
        text-align: left;
    }

    .chat-room {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .users-list {
        flex: 1;
        margin-right: 20px;
    }

    .messages-container {
        flex: 3;
    }

    .users-list ul {
        list-style-type: none;
        padding: 0;
    }

    .users-list li {
        padding: 5px;
        background-color: #f8f9fa;
        color: green;
        margin-bottom: 5px;
        border-radius: 5px;
        font-size: 20px;
    }
</style>
